{% load static %}



<style>
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  /* background-image: url("/static/images/landingpage.jpg/"); */
  background-size: cover;
  overflow-x: hidden; /* Add this line */
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75); /* Justera sista värdet för önskad genomskinlighet */
  z-index: -1;
}

.content {
  flex: 1;
}

</style>

{% include 'navbar.html' %}


  <div class="content">
    <!-- Your page content goes here -->
  <body>
    

    {% block content %}

    {% endblock content %}
  </div>

  
    
  
    <footer class="footer pt-5 mt-5">
    <div class="container">
      <div class=" row">
        <div class="col-md-3 mb-4 ms-auto">
          <div>
            <a href="https://www.creative-tim.com/product/material-kit">
              <img src="{% static 'img/logo-ct-dark.png' %}" class="mb-3 footer-logo" alt="main_logo">
            </a>
            <h6 class="font-weight-bolder mb-4">HPexam</h6>
          </div>
          <div>
            <ul class="d-flex flex-row ms-n3 nav">
              <li class="nav-item" style="margin-left:15px;">
                  <i>Vestagatan 1</i>
                  <i>416 48, Göteborg</i>
              </li>

            </ul>
          </div>
        </div>
  
  
  
        <div class="col-md-2 col-sm-6 col-6 mb-4">
          <div>
            <h6 class="text-sm">Företag</h6>
            <ul class="flex-column ms-n3 nav">
              <li class="nav-item">
                <a class="nav-link" href="https://www.creative-tim.com/presentation" target="_blank">
                  Om oss
                </a>
              </li>
  
            </ul>
          </div>
        </div>
  
        <div class="col-md-2 col-sm-6 col-6 mb-4">
          <div>
            <h6 class="text-sm">Resurser & Samarbeten</h6>
            <ul class="flex-column ms-n3 nav">
              <li class="nav-item">
                <a class="nav-link" href="https://swescientific.se/" target="_blank">
                  Sweden Sceintific
                </a>
              </li>
  
              <li class="nav-item">
                <a class="nav-link" href="https://studera.nu/" target="_blank">
                  Hp ansvarig
                </a>
              </li>
  
              <li class="nav-item">
                <a class="nav-link" href="https://www.creative-tim.com/affiliates/new" target="_blank">
                  Affiliate Program
                </a>
              </li>
            </ul>
          </div>
        </div>
  
        <div class="col-md-2 col-sm-6 col-6 mb-4">
          <div>
            <h6 class="text-sm">Help & Support</h6>
            <ul class="flex-column ms-n3 nav">
              <li class="nav-item">
                <a class="nav-link" href="https://www.creative-tim.com/contact-us" target="_blank">
                  Contact Us
                </a>
              </li>
  
              <li class="nav-item">
                <a class="nav-link" href="https://www.creative-tim.com/knowledge-center" target="_blank">
                  Knowledge Center
                </a>
              </li>
  
              <li class="nav-item">
                <a class="nav-link" href="https://services.creative-tim.com/?ref=ct-mk2-footer" target="_blank">
                  Custom Development
                </a>
              </li>
  
              <li class="nav-item">
                <a class="nav-link" href="https://www.creative-tim.com/sponsorships" target="_blank">
                  Sponsorships
                </a>
              </li>
  
            </ul>
          </div>
        </div>
  
        <div class="col-md-2 col-sm-6 col-6 mb-4 me-auto">
          <div>
            <h6 class="text-sm">Legal</h6>
            <ul class="flex-column ms-n3 nav">
              <li class="nav-item">
                <a class="nav-link" href="https://www.creative-tim.com/knowledge-center/terms-of-service" target="_blank">
                  Terms & Conditions
                </a>
              </li>
  
              <li class="nav-item">
                <a class="nav-link" href="https://www.creative-tim.com/knowledge-center/privacy-policy" target="_blank">
                  Privacy Policy
                </a>
              </li>
  
              <li class="nav-item">
                <a class="nav-link" href="https://www.creative-tim.com/license" target="_blank">
                  Licenses (EULA)
                </a>
              </li>
            </ul>
          </div>
        </div>
  
        <div class="col-12">
          <div class="text-center">
            <p class="text-dark my-4 text-sm font-weight-normal">
              Copyright © <script>document.write(new Date().getFullYear())</script> HPexam</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>



<!-- Core -->
<script src="{% static 'js/navbar.js' %}"></script>
