{% extends 'main.html' %}

{% load static %}

{% block content %}









    <style>
        /* Reset some default styles */

  

  
  h1 {
    font-size: 24px;
  }
  

  
body {
  background-color: #f8fcfc;
  height: 100%;
}

body::before {
  background-color: #f8fcfc;

}


.fortsätt {
  display: flex;
  justify-content: center;
  font-weight: 600;
}

  

  


  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .scroll {
    overflow-y: auto; /* Add this line to make the container scrollable */
    max-height: 350px; /* Add a max-height to limit the container's height and enable scrolling */
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #888 #f5f5f5; /* For Firefox */
    border: 1px solid #ccc;
    border-radius: 5px;

  }

      /* Custom scrollbar styles for WebKit (Chrome, Safari) */
      .scroll::-webkit-scrollbar {
        width: 8px;
        background-color: #f5f5f5;
    }

    .scroll::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 5px;
    }

  


  .övningarna {
    background-color: transparent;
  }




  /*==================================*/

  .topics {
    text-align: center;
  }

  .topics h2 {
    font-size: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }
  
  .topics ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .exercises {
    margin-top: 30px;
  }
  
  .exercises h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  

  
  .button {
    display: inline-block;
    background-color: #2f3136;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #222326;
  
  }
  

  



  .button-form {
    display: inline-block;
    margin-right: 10px;
}




    </style>





<body>
  


    <br><br>
    <br>
    <br>

    <div class="övningarna">

     <div class="container">
    
          <section class="topics" style="text-align: center;">
              <h2>Övningar för varje delprov</h2>
          
              <!-- ================= -->
              {% if clicked == 'alla-övningar' %}
              <form action="" method="POST" class="button-form">
                  {% csrf_token %}
                  <input type="hidden" name="form-type", value="alla-delar">
                  <input type="submit" value="Alla HP delar" class="övning-btn clicked">
              </form>

              {% elif clicked != 'alla-övningar' %}
              <form action="" method="POST" class="button-form">
                  {% csrf_token %}
                  <input type="hidden" name="form-type", value="alla-delar">
                  <input type="submit" value="Alla HP delar" class="övning-btn">
              </form>
              {% endif %}
              <!-- ================= -->

              {% if clicked == 'kvantitativ 1' %}
              <form action="" method="POST" class="button-form">
                  {% csrf_token %}
                  <input type="hidden" name="form-type", value="kvantitativ1">
                  <input type="submit" value="Kvantitativ 1" class="övning-btn clicked">
              </form>

              {% elif clicked != 'kvantitativ 1' %}
              <form action="" method="POST" class="button-form">
                  {% csrf_token %}
                  <input type="hidden" name="form-type", value="kvantitativ1">
                  <input type="submit" value="Kvantitativ 1" class="övning-btn">
              </form>
              {% endif %}
          
              <!-- ================= -->

              {% if clicked == 'kvantitativ 2' %}
              <form action="" method="POST" class="button-form">
                  {% csrf_token %}
                  <input type="hidden" name="form-type", value="kvantitativ2">
                  <input type="submit" value="Kvantitativ 2" class="övning-btn clicked">
              </form>

              {% elif clicked != 'kvantitativ 2' %}
              <form action="" method="POST" class="button-form">
                  {% csrf_token %}
                  <input type="hidden" name="form-type", value="kvantitativ2">
                  <input type="submit" value="Kvantitativ 2" class="övning-btn">
              </form>
              {% endif %}

              <!-- ================= -->
              {% if clicked == 'verbal 1' %}
              <form action="" method="POST" class="button-form">
                  {% csrf_token %}
                  <input type="hidden" name="form-type", value="verbal1">
                  <input type="submit" value="Verbal 1" class="övning-btn clicked">
              </form>

              {% elif clicked != 'verbal 1' %}
              <form action="" method="POST" class="button-form">
                  {% csrf_token %}
                  <input type="hidden" name="form-type", value="verbal1">
                  <input type="submit" value="Verbal 1" class="övning-btn">
              </form>
              {% endif %}

              <!-- ================= -->
              {% if clicked == 'verbal 2' %}
              <form action="" method="POST" class="button-form">
                  {% csrf_token %}
                  <input type="hidden" name="form-type", value="verbal2">
                  <input type="submit" value="Verbal 2" class="övning-btn clicked">
              </form>

              {% elif clicked != 'verbal 2' %}
              <form action="" method="POST" class="button-form">
                  {% csrf_token %}
                  <input type="hidden" name="form-type", value="verbal2">
                  <input type="submit" value="Verbal 2" class="övning-btn">
              </form>
              {% endif %}
                          <!-- ================= -->
          </section>
          
          
        </div>
    </div>





        
          {% if clicked == 'kvantitativ 1' or clicked == 'alla-övningar' %}
          <section class="exercises">
            <div class="container">
              <h2 class="exercise-card__title">Kvantitativ 1</h2>
            </div>
            
            
            {% if clicked == 'alla-övningar' %}
            <div class="container scroll">
            {% else %}
            <div class="container">
            {% endif %}
            {% for övning in övningar_lst %}
            {% if övning not in completed_quizzes and övning not in pending_quizzes %}
              {% if 'vantitativ 1' in övning.name %}
                <div class="exercise-card">
                    <h3 class="exercise-card__title">Övning {{övning.name}}</h3>
                    <p class="exercise-card__description">Math exercise description goes here.</p>
                    <a href="{% url 'quiz-page' övning.prov.title övning.prov.id övning.id %}" class="exercise-card__link">Starta</a>
                </div>
                {% endif %}



              {% elif övning in pending_quizzes %}
                {% if 'vantitativ 1' in övning.name %}
                <div class="exercise-card-pending">
                  <h3 class="exercise-card__title-pending">Övning {{övning.name}}</h3>
                  <p class="fortsätt">Påbörjat</p>

                  <p class="exercise-card__description-pending">Math exercise description goes here.</p>
                  <a href="{% url 'quiz-page' övning.prov.title övning.prov.id övning.id %}" class="exercise-card__link">Fortsätt</a>
                </div>   
                {% endif %}




              {% elif övning in completed_quizzes %}
                {% if 'vantitativ 1' in övning.name %}
                <div class="exercise-card-done">
                  <h3 class="exercise-card__title-done">Övning {{övning.name}}</h3>
                  <p class="exercise-card__description-done">Math exercise description goes here.</p>
                  
                    <form action="" method="POST" class="exercise-card__link-done">
                    {% csrf_token %}
                    <input type="hidden" name="quiz-id-övning" value="{{ övning.id }}">
                    <input type="hidden" name="prov-title-övning" value="{{ övning.prov.title }}">
                    <input type="hidden" name="prov-id-övning" value="{{ övning.prov.id }}">

                    <input type="hidden" name="form-type" value="starta-om-prov">
                    <input type="submit" value="Gör Igen" style="background-color: transparent; border: none; width: 100%; height: 100%;">
                  </form>
              </div>
              {% endif %}
              {% endif %}


            {% endfor %}

            <div class="exercise-card">
              <h3 class="exercise-card__title">Övning {{övning.name}}</h3>
              <p class="exercise-card__description">Math exercise description goes here.</p>
              <a href="" class="exercise-card__link">Start</a>
          </div>
          <div class="exercise-card">
            <h3 class="exercise-card__title">Övning {{övning.name}}</h3>
            <p class="exercise-card__description">Math exercise description goes here.</p>
            <a href="" class="exercise-card__link">Start</a>
        </div>
        <div class="exercise-card">
          <h3 class="exercise-card__title">Övning {{övning.name}}</h3>
          <p class="exercise-card__description">Math exercise description goes here.</p>
          <a href="" class="exercise-card__link">Start</a>
      </div>
      <div class="exercise-card">
        <h3 class="exercise-card__title">Övning {{övning.name}}</h3>
        <p class="exercise-card__description">Math exercise description goes here.</p>
        <a href="" class="exercise-card__link">Start</a>
    </div>
    <div class="exercise-card">
      <h3 class="exercise-card__title">Övning {{övning.name}}</h3>
      <p class="exercise-card__description">Math exercise description goes here.</p>
      <a href="" class="exercise-card__link">Start</a>
  </div>
  <div class="exercise-card">
    <h3 class="exercise-card__title">Övning {{övning.name}}</h3>
    <p class="exercise-card__description">Math exercise description goes here.</p>
    <a href="" class="exercise-card__link">Start</a>
</div>
<div class="exercise-card">
  <h3 class="exercise-card__title">Övning {{övning.name}}</h3>
  <p class="exercise-card__description">Math exercise description goes here.</p>
  <a href="" class="exercise-card__link">Start</a>
</div>
<div class="exercise-card">
  <h3 class="exercise-card__title">Övning {{övning.name}}</h3>
  <p class="exercise-card__description">Math exercise description goes here.</p>
  <a href="" class="exercise-card__link">Start</a>
</div>




          </div>
          </section>
          {% endif %}
        
          <!-- ============================== -->

          {% if clicked == 'kvantitativ 2' or clicked == 'alla-övningar' %}
          <section class="exercises">
            <div class="container">
              <h2 class="exercise-card__title">Kvantitativ 2</h2>
            </div>
          
            {% if clicked == 'alla-övningar' %}
            <div class="container scroll">
            {% else %}
            <div class="container">
            {% endif %}
          
            {% for övning in övningar_lst %}
              {% if övning not in completed_quizzes and övning not in pending_quizzes %}
                {% if 'kvantitativ 2' in övning.name %}
                <div class="exercise-card">
                  <h3 class="exercise-card__title">Övning {{övning.name}}</h3>
                  <p class="exercise-card__description">Math exercise description goes here.</p>
                  <a href="{% url 'quiz-page' övning.prov.title övning.prov.id övning.id %}" class="exercise-card__link">Starta</a>
                </div>
                {% endif %}
          
              {% elif övning in pending_quizzes %}
                {% if 'kvantitativ 2' in övning.name %}
                <div class="exercise-card-pending">
                  <h3 class="exercise-card__title-pending">Övning {{övning.name}}</h3>
                  <p class="exercise-card__description-pending">Math exercise description goes here.</p>
                  <form action="" method="POST" class="exercise-card__link-pending">
                    {% csrf_token %}
                    <input type="hidden" name="quiz-id-övning" value="{{ övning.id }}">
                    <input type="hidden" name="prov-title-övning" value="{{ övning.prov.title }}">
                    <input type="hidden" name="prov-id-övning" value="{{ övning.prov.id }}">
                    <input type="hidden" name="form-type" value="starta-om-prov">
                    <input type="submit" value="Gör Igen" style="background-color: transparent; border: none; width: 100%; height: 100%;">
                  </form>
                </div>
                {% endif %}
          
              {% elif övning in completed_quizzes %}
                {% if 'kvantitativ 2' in övning.name %}
                <div class="exercise-card-done">
                  <h3 class="exercise-card__title-done">Övning {{övning.name}}</h3>
                  <p class="exercise-card__description-done">Math exercise description goes here.</p>
                  <form action="" method="POST" class="exercise-card__link-done">
                    {% csrf_token %}
                    <input type="hidden" name="quiz-id-övning" value="{{ övning.id }}">
                    <input type="hidden" name="prov-title-övning" value="{{ övning.prov.title }}">
                    <input type="hidden" name="prov-id-övning" value="{{ övning.prov.id }}">
                    <input type="hidden" name="form-type" value="starta-om-prov">
                    <input type="submit" value="Gör Igen" style="background-color: transparent; border: none; width: 100%; height: 100%;">
                  </form>
                </div>
                {% endif %}
          
              {% endif %}
            {% endfor %}
          
            </div>
          </section>
          {% endif %}
          

          <!-- ============================== -->
   
          {% if clicked == 'verbal 1' or clicked == 'alla-övningar' %}
          <section class="exercises">
            <div class="container">
              <h2 class="exercise-card__title">Verbal 1</h2>
            </div>
          
            {% if clicked == 'alla-övningar' %}
            <div class="container scroll">
            {% else %}
            <div class="container">
            {% endif %}
          
            {% for övning in övningar_lst %}
              {% if övning not in completed_quizzes %}
                {% if 'verbal 1' in övning.name %}
                <div class="exercise-card">
                  <h3 class="exercise-card__title">Övning {{övning.name}}</h3>
                  <p class="exercise-card__description">Math exercise description goes here.</p>
                  <a href="{% url 'quiz-page' övning.prov.title övning.prov.id övning.id %}" class="exercise-card__link">Starta</a>
                </div>
                {% endif %}
          
              {% elif övning in pending_quizzes %}
                {% if 'verbal 1' in övning.name %}
                <div class="exercise-card-pending">
                  <h3 class="exercise-card__title-pending">Övning {{övning.name}}</h3>
                  <p class="exercise-card__description-pending">Math exercise description goes here.</p>
                  <form action="" method="POST" class="exercise-card__link-pending">
                    {% csrf_token %}
                    <input type="hidden" name="quiz-id-övning" value="{{ övning.id }}">
                    <input type="hidden" name="prov-title-övning" value="{{ övning.prov.title }}">
                    <input type="hidden" name="prov-id-övning" value="{{ övning.prov.id }}">
                    <input type="hidden" name="form-type" value="starta-om-prov">
                    <input type="submit" value="Gör Igen" style="background-color: transparent; border: none; width: 100%; height: 100%;">
                  </form>
                </div>
                {% endif %}
          
              {% elif övning in completed_quizzes %}
                {% if 'verbal 1' in övning.name %}
                <div class="exercise-card-done">
                  <h3 class="exercise-card__title-done">Övning {{övning.name}}</h3>
                  <p class="exercise-card__description-done">Math exercise description goes here.</p>
                  <form action="" method="POST" class="exercise-card__link-done">
                    {% csrf_token %}
                    <input type="hidden" name="quiz-id-övning" value="{{ övning.id }}">
                    <input type="hidden" name="prov-title-övning" value="{{ övning.prov.title }}">
                    <input type="hidden" name="prov-id-övning" value="{{ övning.prov.id }}">
                    <input type="hidden" name="form-type" value="starta-om-prov">
                    <input type="submit" value="Gör Igen" style="background-color: transparent; border: none; width: 100%; height: 100%;">
                  </form>
                </div>
                {% endif %}
          
              {% endif %}
            {% endfor %}
          
            </div>
          </section>
          {% endif %}
          
        <!-- ============================== -->
     
          <section class="exercises">
            {% if clicked == 'verbal 2' or clicked == 'alla-övningar' %}
            <div class="container">
              <h2 class="exercise-card__title">Verbal 2</h2>
            </div>
            
            {% if clicked == 'alla-övningar' %}
            <div class="container scroll">
            {% else %}
            <div class="container">
            {% endif %}
            {% for övning in övningar_lst %}
              {% if övning not in completed_quizzes %}
                {% if 'erbal 2' in övning.name %}
                <div class="exercise-card">
                    <h3 class="exercise-card__title">Övning {{övning.name}}</h3>
                    <p class="exercise-card__description">Math exercise description goes here.</p>
                    <a href="{% url 'quiz-page' övning.prov.title övning.prov.id övning.id %}" class="exercise-card__link">Start</a>
                </div>
                {% endif %}

              {% elif övning in completed_quizzes %}
                {% if 'erbal 2' in övning.name %}
                <div class="exercise-card-done">
                  <h3 class="exercise-card__title-done">Övning {{övning.name}}</h3>
 
                  <p class="exercise-card__description-done">Math exercise description goes here.</p>
                  <form action="" method="POST" class="exercise-card__link-done">
                    {% csrf_token %}
                    <input type="hidden" name="quiz-id-övning" value="{{ övning.id }}">
                    <input type="hidden" name="prov-title-övning" value="{{ övning.prov.title }}">
                    <input type="hidden" name="prov-id-övning" value="{{ övning.prov.id }}">

                    <input type="hidden" name="form-type" value="starta-om-prov">
                    <input type="submit" value="Gör Igen" style="background-color: transparent; border: none; width: 100%; height: 100%;">
                  </form>
                </div>     
                {% endif %}     

                {% elif övning in pending_quizzes %}
                {% if 'erbal 2' in övning.name %}
                <div class="exercise-card-pending">
                  <h3 class="exercise-card__title-pending">Övning {{övning.name}}</h3>
 
                  <p class="exercise-card__description-pending">Math exercise description goes here.</p>
                  <form action="" method="POST" class="exercise-card__link-pending">
                    {% csrf_token %}
                    <input type="hidden" name="quiz-id-övning" value="{{ övning.id }}">
                    <input type="hidden" name="prov-title-övning" value="{{ övning.prov.title }}">
                    <input type="hidden" name="prov-id-övning" value="{{ övning.prov.id }}">

                    <input type="hidden" name="form-type" value="starta-om-prov">
                    <input type="submit" value="Gör Igen" style="background-color: transparent; border: none; width: 100%; height: 100%;">
                  </form>
                </div>   
                {% endif %}


                {% elif övning in completed_quizzes %}
                {% if 'erbal 2' in övning.name %}
                <div class="exercise-card-done">
                  <h3 class="exercise-card__title-done">Övning {{övning.name}}</h3>
 
                  <p class="exercise-card__description-done">Math exercise description goes here.</p>
                  <form action="" method="POST" class="exercise-card__link-done">
                    {% csrf_token %}
                    <input type="hidden" name="quiz-id-övning" value="{{ övning.id }}">
                    <input type="hidden" name="prov-title-övning" value="{{ övning.prov.title }}">
                    <input type="hidden" name="prov-id-övning" value="{{ övning.prov.id }}">

                    <input type="hidden" name="form-type" value="starta-om-prov">
                    <input type="submit" value="Gör Igen" style="background-color: transparent; border: none; width: 100%; height: 100%;">
                  </form>
                </div>   
                {% endif %}

              </div>
                {% endif %}
              {% endfor %}
            </div>
          </section>
          {% endif %}

        </div>
      </div>
    </div>
          

  </body>


<br>
<br>
<br>
<br>








{% endblock content %}